@import url(variables.css);


body{
    background-image: url(../img/Background\ \(1\).png);

    display: flex;
    justify-content: center;

    font-family: var(--ff-inter);
    color: var(--blue-900);
}
main{
    border-radius: 8px;
    border: 2px solid var(--blue-500);
}
.flex{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.logo-container{
    display: flex;
    justify-content: center;
    margin-block: 50px;
}

.card-container{
    background-color: var(--blue-300);
    padding: 56px 64px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: var(--fs-label);
}


.btn-container{
    display: flex;
    justify-content: center;

    margin-top: 28px;
}
button{
    font-family: var(--ff-button);
    font-family: var(--ff-inter);
    color: var(--white);
    background-color: var(--blue-600);
    border-radius: 8px;
    padding: 16px 70px;
    border: none;
    font-weight: bold;
}

button:hover{
    background-color: var(--blue-700);
}

input{
    padding: 16px 20px;
    border-radius: 8px;
    color: var(--blue-900);
    background-color: var(--blue-200);
    border: 2px solid var(--blue-400);

    font-size: var(--fs-body);
    font-family: var(--ff-inter);
}

input ::placeholder{
    color: var(--blue-900);
}

input:focus{
    border: 2px solid var(--blue-700);
    outline: none;
}


select{
    padding: 16px 20px;

    border-radius: 8px;
    color: var(--blue-900);
    background-color: var(--blue-200);
    border: 2px solid var(--blue-400);
    
    font-size: var(--fs-body);
}

select:focus{
    border: 2px solid var(--blue-700);
    outline: none;
}

footer{
    background-color: var(--blue-400);
    padding:20px 40px;
    gap: 6px;

    display: none;

    flex-direction: column;
    justify-content: center;
}
#description{
    font-family: var(--ff-ibm);
    color: var(--blue-800);
    display: flex;
    align-self: center;
}

#result{
    font-family: var(--ff-inter);
    color: var(--white);

    display: flex;
    align-self: center;
}