:root{
    --blue-100:#080815;
    --blue-200:#0E0F25;
    --blue-300 :#141534;
    --blue-400:#1F2151;
    --blue-500:#2F3279;
    --blue-600:#2F34AB;
    --blue-700:#4A5DCD;
    --blue-800:#7D8DEC;
    --blue-900:#B2B8DE;
    --white:#F1F2F6;

    --ff-inter: 'Inter', sans-serif;
    --ff-ibm:'IBM Plex Mono', monospace;


    --fs-heading:32px;
    --fs-button:16px;
    --fs-body:16px;
    --fs-label:12px;
    --fs-span:16px;

    --line-height-heading:48px;
    --line-height-button:20px;
    --line-height-body:20px;
    --line-height--label:16px;
    --line-height-span:20px;

}